{% extends 'header.html.twig' %}
{% block content %}

    <div class="section db">
        <div class="container">
            <div class="page-title text-center">
                <div class="heading-holder">
                    <h1>Espace Forum</h1>
                </div>
                <p class="lead">vous pouvez modifier votre commentaire ici</p>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section lb">
        <div class="container">
            <div class="row">

            </div>

            <div class="row">
                <div class="content col-md-8">
                    <div class="post-padding">
                        <div class="content-title">
                            <h1>Espace forum<span class="badge bg-secondary"></span></h1>
                            <hr>
                        </div><!-- end widget-title -->


                        <hr class="invis">

                        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                        <div class="form-group">
                            <h2>commentaire <span class="badge bg-secondary"></span></h2>
                            {{ form_widget(form.commentaire, {'attr':{'class':'form-control'}}) }}
                            {% if not form.commentaire.vars.valid %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.commentaire) }}

                            </div>
                            {% endif %}
                        </div>



                        {{ form_end(form) }}

                    </div><!-- end post-padding -->
                </div><!-- end col -->

                <div class="sidebar col-md-4">
                    <div class="widget clearfix">
                        <div class="postpager liststylepost">
                            <ul class="post-blog">


                                <li>

                                </li>
                                <li>

                                </li>
                            </ul>
                        </div><!-- end postpager -->
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Pour afficher tout les forums : </h4>
                        </div><!-- end widget-title -->
                        <ul class="contact-details">

                            <li><a class="btn btn-danger" href="{{ path('AfficheForum') }}">ici</a></li>

                        </ul>
                    </div><!-- end widget -->

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}