<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>{% block title %}Work-it {% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href={{ asset("images/favicon.ico")}} type="image/x-icon">
    <link rel="apple-touch-icon" href={{ asset("images/apple-touch-icon.png") }}>
    <link rel="apple-touch-icon" sizes="57x57" href={{ asset("images/apple-touch-icon-57x57.png") }}>
    <link rel="apple-touch-icon" sizes="72x72" href={{ asset("images/apple-touch-icon-72x72.png") }}>
    <link rel="apple-touch-icon" sizes="76x76" href={{ asset("images/apple-touch-icon-76x76.png") }}>
    <link rel="apple-touch-icon" sizes="114x114" href={{ asset("images/apple-touch-icon-114x114.png") }}>
    <link rel="apple-touch-icon" sizes="120x120" href={{ asset("images/apple-touch-icon-120x120.png") }}>
    <link rel="apple-touch-icon" sizes="144x144" href={{ asset("images/apple-touch-icon-144x144.png") }}>
    <link rel="apple-touch-icon" sizes="152x152" href={{ asset("images/apple-touch-icon-152x152.png") }}>

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href={{ asset("css/bootstrap.min.css") }}>
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href={{ asset("style.css") }}>
    <!-- RESPONSIVE STYLES -->
    <link rel="stylesheet" type="text/css" href={{ asset("css/responsive.css") }}>
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href={{ asset("css/colors.css") }}>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href={{ asset("css/custom.css") }}>

    <!--[if lt IE 9]>
        <script src={{ asset("https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js") }}></script>
        <script src={{ asset("https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js") }}></script>
        <![endif]-->
</head>
<body>
{% block header %}
    <header class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-default yamm">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" title="" href={{ asset("index.html") }}><img src="images/loggo.png" alt="" class="img-responsive"></a>
                    </div>
                    <!-- end navbar header -->

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown hasmenu yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="fa fa-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="tabbable row-fluid">
                                                        <ul class="nav nav-tabs col-md-4">
                                                            <li class="active color2"><a href="#b" data-toggle="tab">Special Pages <i class="fa fa-angle-right"></i></a></li>
                                                            <li class="color3"><a href="#c" data-toggle="tab">Custom Pages <i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                        <div class="tab-content col-md-8">
                                                            <div class="tab-pane secondcol active" id="b">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href={{ asset("job-single.html") }}>Job Single Page</a></li>
                                                                            <li><a href={{ asset("job-search.html") }}>Job Search</a></li>
                                                                            <li><a href={{ asset("job-search-map.html") }}>Job Search Map</a></li>
                                                                            <li><a href={{ asset("job-add.html") }}>Add a Job</a></li>
                                                                            <li><a href={{ asset("employer-dashboard.html") }}>Employer Dashboard</a></li>
                                                                            <li><a href={{ asset("employer-listing.html") }}>Employer Listing</a></li>
                                                                            <li><a href={{ asset("employer-profile.html") }}>Employer Profile</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href={{ asset("freelancer-profile.html") }}>Freelancer Profile</a></li>
                                                                            <li><a href={{ asset("freelancer-search.html") }}>Freelancer Search</a></li>
                                                                            <li><a href={{ asset("freelancer-search-map.html") }}>Freelancer Search Map</a></li>
                                                                            <li><a href={{ asset("freelancer-add-resume.html") }}>Add a Resume / CV</a></li>
                                                                            <li><a href={{ asset("freelancer-dashboard.html") }}>Freelancer Dashboard</a></li>
                                                                            <li><a href={{ asset("freelancer-listing.html") }}>Freelancer Listing</a></li>
                                                                            <li><a href={{ asset("freelancer-edit-resume.html") }}>Freelancer Edit Profile</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <hr>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p>If you are looking special job and freelancer pages, right place here! Tons of options, special pages and more.</p>
                                                                    </div>
                                                                </div><!-- end row -->
                                                            </div>

                                                            <div class="tab-pane thirdcol" id="c">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href={{ asset("page-about.html") }}>About us</a></li>
                                                                            <li><a href={{ asset("page-services.html") }}>Custom Services</a></li>
                                                                            <li><a href={{ asset("shop.html") }}>Shop Page</a></li>
                                                                            <li><a href={{ asset("shop-single.html") }}>Shop Single</a></li>
                                                                            <li><a href={{ asset("shop-single-alt.html") }}>Shop Single Alt</a></li>
                                                                            <li><a href={{ asset("shop-cart.html") }}>Shop Cart</a></li>
                                                                            <li><a href={{ asset("shop-checkout.html") }}>Shop Checkout</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href={{ asset("page-pricing.html") }}>Plans & Pricing</a></li>
                                                                            <li><a href={{ asset("page-testimonial.html") }}>Testimonials</a></li>
                                                                            <li><a href={{ asset("page-shortcodes.html") }}>Shortcodes</a></li>
                                                                            <li><a href={{ asset("page-contact.html") }}>Contact Page</a></li>
                                                                            <li><a href={{ asset("page-login.html") }}>Login & Register</a></li>
                                                                            <li><a href={{ asset("page-faqs.html") }}>FAQS Page</a></li>
                                                                            <li><a href={{ asset("page-404.html") }}>Not Found</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <hr>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p>Looking creative page examples? Sure, we build special page examples for you. About, contact, register and more.</p>
                                                                    </div>
                                                                </div><!-- end row -->
                                                            </div>
                                                        </div><!-- end tab-content -->
                                                    </div><!-- end tabbable -->
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                        </div><!-- end yamm-content -->
                                    </li><!-- end li -->
                                </ul><!-- end dropdown-menu -->
                            </li><!-- end hasmenu -->
                            <li><a title="" href={{ asset("job-search-map.html") }}>Formations</a></li>
                            <li><a title="" href={{ asset("freelancer-search-map.html") }}>Freelancers</a></li>
                            <li><a title="" href={{ asset("page-pricing.html") }}>Evenement</a></li>
                            <li><a title="" href={{ asset("blog.html") }}>Creer un CV</a></li>
                            <li><a title="" href={{ asset("page-contact.html") }}>Help</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown yamm-half membermenu hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="upload/testi_03.png" alt="" class="img-circle"> <span class="caret"></span></a>
                                <ul class="dropdown-menu start-right">
                                    <li class="dropdown-header">Welcome Jenny</li>
                                    <li><a href={{ asset("showcback.html.twig") }}><span class="glyphicon glyphicon-user"></span> Public Profile</a></li>

                                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                                </ul>
                            </li>
                            <li><a class="btn btn-primary" title="" href={{ path("candidat_login") }}>authentifier candidat</a></li>

                        </ul>
                        <!-- end dropdown -->
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
            <!-- end nav -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
{% endblock %}


{% block body %}
    <div class="section hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home-title text-center">
                        <h3>I am Employer</h3>
                        <p>If you are looking new employees for your business, this is right place for you! Open free profile. Once you open your profile, you can give new ads for free.</p>
                        <a href={{ asset("freelancer-search.html")}} class="btn" btn-primary>Find Your Worker</a>
                    </div>
                </div><!-- end col -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home-title rightside text-center">
                        <h3>I am Freelancer</h3>
                        <p>Do you want to earn money with YourJob? Share skills and experiences to your customers and earn money. Open a free account and fill out your profile information.</p>
                        <a href={{ asset("job-search.html")}} class="btn" btn-primary>Browse Your Job</a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}


{% block footer %}
    <div class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Contact</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="#">Video Tutorials</a></li>
                                <li><a href="#">Live Chat Support</a></li>
                                <li><a href="#">Email Newsletter</a></li>
                                <li><a href="#">Follow on Social</a></li>
                                <li><a href="#">Subscribe to Youtube</a></li>
                                <li><a href="#">Get In Touch</a></li>
                                <li><a href="#">Support Forums</a></li>
                                <li><a href="#">Submit a Ticket</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Network</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href={{ asset("job-search.html") }}>Job Search</a></li>
                                <li><a href={{ asset("job-search-map.html") }}>Job Search Map</a></li>
                                <li><a href={{ asset("job-add.html") }}>Add a Job</a></li>
                                <li><a href={{ asset("employer-dashboard.html") }}>Employer Dashboard</a></li>
                                <li><a href={{ asset("employer-listing.html") }}>Employer Listing</a></li>
                                <li><a href={{ asset("employer-edit-profile.html") }}>Employer Edit Profile</a></li>
                                <li><a href={{ asset("freelancer-profile.html") }}>Freelancer Profile</a></li>
                                <li><a href={{ asset("freelancer-search.html") }}>Freelancer Search</a></li>
                                <li><a href={{ asset("freelancer-search-map.html") }}>Freelancer Search Map</a></li>
                                <li><a href={{ asset("freelancer-add-resume.html") }}>Add a Resume / CV</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Our Pages</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href={{ asset("page-about.html") }}>About us</a></li>
                                <li><a href={{ asset("page-services.html") }}>Custom Services</a></li>
                                <li><a href={{ asset("shop.html") }}>Shop Page</a></li>
                                <li><a href={{ asset("shop-single.html") }}>Shop Single</a></li>
                                <li><a href={{ asset("shop-single-alt.html") }}>Shop Single Alt</a></li>
                                <li><a href={{ asset("shop-cart.html") }}>Shop Cart</a></li>
                                <li><a href={{ asset("shop-checkout.html") }}>Shop Checkout</a></li>
                                <li><a href={{ asset("page-pricing.html") }}>Plans & Pricing</a></li>
                                <li><a href={{ asset("page-testimonial.html") }}>Testimonials</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Company</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="#">About YourJob</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Team Members</a></li>
                                <li><a href="#">Worldwide Offices</a></li>
                                <li><a href="#">Worldwide Meet Up</a></li>
                                <li><a href="#">Awards & Reviews</a></li>
                                <li><a href="#">YourJob in Press</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">User Guide</a></li>
                                <li><a href="#">Knowledgebase</a></li>
                                <li><a href="#">Affiliate</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img class="flogo" src="images/flogo.png" alt="">
                        </div><!-- end widget-title -->

                        <div class="text-widget">
                            <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. This template available only Envato marketplace!</p>

                            <ul class="list-inline social-small">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>

                            <div class="mobileicons">
                                <a href="#"><img src={{ asset("images/mobile_01.png")}} alt=""></a>
                                <a href="#"><img src={{ asset("images/mobile_02.png")}} alt=""></a>
                            </div>
                        </div><!-- end text-widget -->
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer -->
{% endblock %}
{% block js %}
    <script src={{ asset("js/jquery.js") }}></script>
    <script src={{ asset("js/bootstrap.min.js") }}></script>
    <script src={{ asset("js/all.js") }}></script>
    <script src={{ asset("js/custom.js") }}></script>

{% endblock %}
</body>
</html>
