{% extends 'dashbord.html.twig' %}

{% block title %}Recruteur index{% endblock %}

{% block body %}
    <h1>Recruteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Nom de la societé</th>
                <th>Mail</th>
                <th>Numero de la societé</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recruteur in recruteurs %}
            <tr>
                <td>{{ recruteur.id }}</td>
                <td>{{ recruteur.nom }}</td>
                <td>{{ recruteur.prenom }}</td>
                <td>{{ recruteur.nomso }}</td>
                <td>{{ recruteur.mail }}</td>
                <td>{{ recruteur.numso }}</td>

                <td>
                    <a class="btn btn-secondary" href="{{ path('recruteur_show', {'id': recruteur.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('recruteur_edit', {'id': recruteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('recruteur_new') }}">Create new</a>
{% endblock %}
