{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h1 align="center">Test</h1>
                        <h4 align="center"> Liste des tests </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" border="3">
                                <thead class=" text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Q1</th>
                                    <th>R1</th>
                                    <th>Q2</th>
                                    <th>R2</th>
                                    <th>Q3</th>
                                    <th>R3</th>
                                    <th>Q4</th>
                                    <th>R4</th>
                                    <th>Q5</th>
                                    <th>R5</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for test in tests %}
                                    <tr>
                                        <td>{{ test.id }}</td>
                                        <td>{{ test.nom }}</td>
                                        <td>{{ test.q1 }}</td>
                                        <td>{{ test.r1 }}</td>
                                        <td>{{ test.q2 }}</td>
                                        <td>{{ test.r2 }}</td>
                                        <td>{{ test.q3 }}</td>
                                        <td>{{ test.r3 }}</td>
                                        <td>{{ test.q4 }}</td>
                                        <td>{{ test.r4 }}</td>
                                        <td>{{ test.q5 }}</td>
                                        <td>{{ test.r5 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

