{% extends 'base.html.twig' %}

{% block title %}Liste des evenement{% endblock %}

{% block content %}

<div class="main-panel">

    <h1>Liste Des Evenements</h1>

    <form method="post" action="{{ path('rechercheevent') }}">
        <input type="text"  placeholder="Recherche" name ="recherche">
        <input type="submit" value="recherche"  class="btn btn-primary" >

    </form>

    <table border="2" class="table table-striped">

        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Categorie</th>
            <th>Date</th>
            <th>Description</th>
            <th>Nb Participants</th>
            <th>Nb j'aime</th>
            <th>Nb j'aime pas</th>
            <th>Supprimer</th>

        </tr>

        <tr {% for e in event %} >

            <td>{{ e.id }}</td>
            <td>{{ e.nom }}</td>
            <td>{{ e.idcategorie.nom }}</td>
            <td>{{ e.date|date('m/d/Y') }}</td>
            <td>{{ e.description }}</td>
            <td>{{ e.nbp}}</td>
            <td>{{ e.jaime }}</td>
            <td>{{ e.jaimepas }}</td>
            <td ><a href="{{ path('supprimeevent',{'id':e.id}) }}"  class="badge badge-danger">Supprimer</a></td>



        </tr {% endfor %} >
    </table>

</div>
{% endblock %}
