
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    {% block content %}
    <div class="form">
        <label>Saisir le nom : </label>
        {{ form_row(form.nom,{'attr':{'class':'form-control'}}) }}
        <div class="alert alert-info">
            {{ form_errors(form.nom) }}
        </div>
    </div>
    <div class="form">
        <label>Saisir la photo : </label>
        {{ form_row(form.photo,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form">
        <label>Saisir le key : </label>
        {{ form_row(form.help,{'attr':{'class':'form-control'}}) }}
        <div class="alert alert-info">
            {{ form_errors(form.help) }}
        </div>
    </div>
{{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {% endblock %}
{{ form_end(form) }}

