{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label class="control-label">Categorie<small>Enter your Categorie</small></label>
    {{ form_widget(form.idcategoriy,{'attr':{'class':'form-control'}}) }}
        {% if not form.idcategoriy.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.idcategoriy) }}
        </div>
        {% endif %}
    </div>

</div><!-- end row -->

<hr class="invis">

<div class="row">
    <div class="col-md-6 col-sm-12">
        <label class="control-label">Company Name <small>Enter your company name</small></label>
        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
        {% if not form.nom.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.nom) }}
        </div>
        {% endif %}
    </div>
</div><!-- end row -->
<hr class="invis">
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label class="control-label">Company Email <small>Enter offical email here</small></label>
        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
        {% if not form.email.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.email) }}
        </div>
        {% endif %}
    </div>
</div><!-- end row -->

<hr class="invis">

<div class="row">
    <div class="col-md-12 col-sm-12">
        <label class="control-label">Company Logo <small>Please add a your company logo.</small></label>
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview thumbnail"></div>
            <br>
            <span class="btn btn-default btn-file">
                                                    <span class="fileupload-new">Select Logo</span>
                                                    <span class="fileupload-exists">Change</span>
                                                     {{ form_widget(form.logo) }}
                                                </span>
            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload"><i class="fa fa-close"></i></a>
        </div>
    </div>
</div><!-- end row -->

<hr class="invis">

<div class="row">
    <div class="col-md-12 col-sm-12">
        <label class="control-label">Project Title <small>Enter a short title for your project</small></label>
        {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
        {% if not form.title.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.title) }}
        </div>
        {% endif %}
    </div>
</div><!-- end row -->

<hr class="invis">

<div class="row">
    <div class="col-md-12 col-sm-12">
        <label class="control-label">Project Description <small>Enter long description for your project</small></label>
      {{ form_widget(form.description,{'attr':{'class':'form-control','rows':'5'}}) }}
        {% if not form.description.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.description) }}
        </div>
        {% endif %}
    </div>
</div><!-- end row -->
<hr class="invis">


<hr class="invis">
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-block">{{ button_label|default('Submit Form') }}</button>
{{ form_end(form) }}