<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        *{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 50%;
            padding: 14px 20px;
            margin: 8px 26px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size:16px;
        }


        /* Set a style for all buttons */
        button {
            background-color: brown;
            color: white;
            padding: 14px 20px;
            margin: 8px 26px;
            border: none;
            cursor: pointer;
            width: 60%;
            font-size:20px;
        }
        button:hover {
            opacity: 0.8;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }
        .avatar {
            width: 200px;
            height:200px;
            border-radius: 50%;
        }

        /* The Modal (background) */
        .modal {
            display:none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        /* Modal Content Box */
        .modal-content {
            background-color: #fefefe;
            margin: 4% auto 15% auto;
            border: 1px solid #888;
            width: 50%;
            padding-bottom: 30px;
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }
        .close:hover,.close:focus {
            color: red;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            animation: zoom 0.6s
        }
        @keyframes zoom {
            from {transform: scale(0)}
            to {transform: scale(1)}
        }
    </style>
    <!-- SITE META -->
    <title>{% block title %}Work It{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    {% block stylesheets %}

        {#{{ encore_entry_link_tags('app') }}#}

    <!-- FAVICONS -->

    <link rel="shortcut icon" href="/Frontoffice/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/Frontoffice/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Frontoffice/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Frontoffice/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Frontoffice/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Frontoffice/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Frontoffice/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Frontoffice/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Frontoffice/images/apple-touch-icon-152x152.png">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href="/Frontoffice/css/bootstrap.min.css">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="/Frontoffice/style.css">
    <!-- RESPONSIVE STYLES -->
    <link rel="stylesheet" type="text/css" href="/Frontoffice/css/responsive.css">
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/Frontoffice/css/colors.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/Frontoffice/css/custom.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>
{% block header %}


    <!-- START SITE -->
    <header class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-default yamm">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" title="" href="{{ path('front') }}"><img src="/Frontoffice/images/logo_workit.png" alt="" class="img-responsive"></a>
                    </div>
                    <!-- end navbar header -->

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown hasmenu yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="fa fa-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="tabbable row-fluid">
                                                        <ul class="nav nav-tabs col-md-4">
                                                            <li class="active color2"><a href="#b" data-toggle="tab">Special Pages <i class="fa fa-angle-right"></i></a></li>
                                                            <li class="color3"><a href="#c" data-toggle="tab">Custom Pages <i class="fa fa-angle-right"></i></a></li>
                                                        </ul>
                                                        <div class="tab-content col-md-8">
                                                            <div class="tab-pane secondcol active" id="b">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            {% if app.session.get('type')=="recruteur" %}
                                                                            <li><a href="{{ path('addjob') }}">Add a Offre</a></li>
                                                                            <li><a href="{{ path('update') }}">Check informations</a></li>
                                                                            {% endif %}
                                                                            <li><a href="{{ path('offre1') }}">Check offre</a></li>
                                                                            <li><a href="job-search.html">Job Search</a></li>
                                                                            <li><a href="job-search-map.html">Job Search Map</a></li>
                                                                            <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                                                            <li><a href="employer-listing.html">Employer Listing</a></li>
                                                                            <li><a href="employer-profile.html">Employer Profile</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            {% if app.session.get('id')==null %}
                                                                            {% elseif  app.session.get('type')=="candidat" %}
                                                                            <li><a class="dropdown-item" href="{{ path('afficheevent') }}">Liste Des Evenements</a></li>
                                                                            {% else %}
                                                                           <li><a class="dropdown-item" href="{{ path('ajoutevent') }}">Ajouter Evenement</a></li>
                                                                            <li><a class="dropdown-item" href="{{ path('afficheevent') }}">Liste Des Evenements</a></li>
                                                                            {% endif %}
                                                                            {% if app.session.get('type')=="freelancer" %}
                                                                            <li><a href="{{ path('addProjet') }}">Add Project</a></li>
                                                                            <li><a href="{{ path('projet_index') }}">List project</a></li>
                                                                            {% endif %}
                                                                            <li><a href="freelancer-dashboard.html">Freelancer Dashboard</a></li>
                                                                            <li><a href="freelancer-listing.html">Freelancer Listing</a></li>
                                                                            <li><a href="freelancer-edit-resume.html">Freelancer Edit Profile</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <hr>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p>If you are looking special job and freelancer pages, right place here! Tons of options, special pages and more.</p>
                                                                    </div>
                                                                </div><!-- end row -->
                                                            </div>

                                                            <div class="tab-pane thirdcol" id="c">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href="page-about.html">About us</a></li>
                                                                            <li><a href="page-services.html">Custom Services</a></li>
                                                                            <li><a href="shop.html">Shop Page</a></li>
                                                                            <li><a href="shop-single.html">Shop Single</a></li>
                                                                            <li><a href="shop-single-alt.html">Shop Single Alt</a></li>
                                                                            <li><a href="shop-cart.html">Shop Cart</a></li>
                                                                            <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li><a href="page-pricing.html">Plans & Pricing</a></li>
                                                                            <li><a href="page-testimonial.html">Testimonials</a></li>
                                                                            <li><a href="page-shortcodes.html">Shortcodes</a></li>
                                                                            <li><a href="page-contact.html">Contact Page</a></li>
                                                                            <li><a href="page-login.html">Login & Register</a></li>
                                                                            <li><a href="page-faqs.html">FAQS Page</a></li>
                                                                            <li><a href="page-404.html">Not Found</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <hr>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p>Looking creative page examples? Sure, we build special page examples for you. About, contact, register and more.</p>
                                                                    </div>
                                                                </div><!-- end row -->
                                                            </div>
                                                        </div><!-- end tab-content -->
                                                    </div><!-- end tabbable -->
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                        </div><!-- end yamm-content -->
                                    </li><!-- end li -->
                                </ul><!-- end dropdown-menu -->
                            </li><!-- end hasmenu -->
                            <li><a title="" href="{{ path('freelancers') }}">Freelancers</a></li>
                            <li><a title="" href="{{ path('afficheProjets') }}">Project</a></li>
                            <li><a title="" href="{{ path ('addForum') }}">Forum</a></li>
                            <li><a title="" href="{{ path('test_1') }}">Test</a></li>
                            <li><a title="" href="{{ path('addrecla') }}">Reclamation</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if app.session.get('id')==null %}
                            {% else %}
                            <li class="dropdown yamm-half membermenu hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('picture/' ~ app.session.get('photo')) }}" alt="" class="img-circle"> <span class="caret"></span></a>
                                <ul class="dropdown-menu start-right">
                                    <li class="dropdown-header">Welcome {{ app.session.get('nom') }}</li>
                                    <li><a href="{{ path('profil_det') }}"><span class="glyphicon glyphicon-user"></span> Public Profile</a></li>
                                    <li><a href="freelancer-dashboard.html"><span class="glyphicon glyphicon-off"></span> User Dashboard</a></li>
                                    <li><a href="freelancer-edit-resume.html"><span class="glyphicon glyphicon-edit"></span> Edit Resume / CV</a></li>
                                    <li><a href="freelancer-active-jobs.html"><span class="glyphicon glyphicon-briefcase"></span> Active Jobs</a></li>
                                    <li><a href="freelancer-passed-jobs.html"><span class="glyphicon glyphicon-briefcase"></span> Passed Jobs</a></li>
                                    <li><a href="freelancer-change-password.html"><span class="glyphicon glyphicon-refresh"></span> Change Password</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                                </ul>
                            </li>
                            <li><a class="btn btn-primary" title="" href="job-add.html">Submit Job</a></li>
                            {% endif %}
                            {% if app.session.get('id')==null %}
                            <li><a class="btn btn-primary" title="" href="{{ path('Login') }}">Login</a></li>
                            {% else %}
                            <li><a class="btn btn-primary" href="{{ path('Logout') }}">Logout</a></li>
                           {% endif %}
                        </ul>
                        <!-- end dropdown -->
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
            <!-- end nav -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <div class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Contact</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="#">Video Tutorials</a></li>
                                <li><a href="#">Live Chat Support</a></li>
                                <li><a href="#">Email Newsletter</a></li>
                                <li><a href="#">Follow on Social</a></li>
                                <li><a href="#">Subscribe to Youtube</a></li>
                                <li><a href="#">Get In Touch</a></li>
                                <li><a href="#">Support Forums</a></li>
                                <li><a href="#">Submit a Ticket</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Network</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="job-add.html">Add a Job</a></li>
                                <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                <li><a href="employer-listing.html">Employer Listing</a></li>
                                <li><a href="employer-edit-profile.html">Employer Edit Profile</a></li>
                                <li><a href="freelancer-profile.html">Freelancer Profile</a></li>
                                <li><a href="freelancer-search.html">Freelancer Search</a></li>
                                <li><a href="freelancer-search-map.html">Freelancer Search Map</a></li>
                                <li><a href="freelancer-add-resume.html">Add a Resume / CV</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Our Pages</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="page-about.html">About us</a></li>
                                <li><a href="page-services.html">Custom Services</a></li>
                                <li><a href="shop.html">Shop Page</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shop-single-alt.html">Shop Single Alt</a></li>
                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                <li><a href="page-pricing.html">Plans & Pricing</a></li>
                                <li><a href="page-testimonial.html">Testimonials</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-2 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Company</h4>
                        </div><!-- end widget-title -->

                        <div class="link-widget">
                            <ul class="check">
                                <li><a href="#">About YourJob</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Team Members</a></li>
                                <li><a href="#">Worldwide Offices</a></li>
                                <li><a href="#">Worldwide Meet Up</a></li>
                                <li><a href="#">Awards & Reviews</a></li>
                                <li><a href="#">YourJob in Press</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">User Guide</a></li>
                                <li><a href="#">Knowledgebase</a></li>
                                <li><a href="#">Affiliate</a></li>
                            </ul><!-- end check -->
                        </div><!-- end link-widget -->
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 col-sm-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img class="flogo" src="Frontoffice/images/logo_workit.png" alt="">
                        </div><!-- end widget-title -->

                        <div class="text-widget">
                            <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. This template available only Envato marketplace!</p>

                            <ul class="list-inline social-small">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>

                            <div class="mobileicons">
                                <a href="#"><img src="Frontoffice/images/mobile_01.png" alt=""></a>
                                <a href="#"><img src="Frontoffice/images/mobile_02.png" alt=""></a>
                            </div>
                        </div><!-- end text-widget -->
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer -->
    <div class="contactme hidden-xs">
        <a href="page-contact.html">
            <img src="Frontoffice/upload/me.jpg" class="img-circle" alt="" data-toggle="tooltip" data-placement="top" title="Need Help?">
            <span class="oi" data-glyph="chat"></span>
        </a>
    </div>

    <div class="dmtop"><i class="fa fa-angle-up"></i></div>

    </div><!-- end wrapper -->
          <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/6049113f385de407571ec2ac/1f0emn1gp';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}
{% block js %}

    <!-- ******************************************
    DEFAULT JAVASCRIPT FILES
    ********************************************** -->
    <script src="/Frontoffice/js/jquery.js"></script>
    <script src="/Frontoffice/js/bootstrap.min.js"></script>
    <script src="/Frontoffice/js/all.js"></script>
    <script src="/Frontoffice/js/custom.js"></script>

    <!-- ******************************************
    ADD YOUR CUSTOM JAVASCRIPT FILES HERE
    ********************************************** -->
{% endblock %}
</body>
</html>
