{% block content %}
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-primary">
        <h1 align="center">Offre</h1>
        <h4 align="center"> List of Offre </h4>
    </div>
    <div class="card-body">
    <div class="table-responsive">
        <table class="table" border="3">
        <thead class=" text-primary">
        <tr>
            <th>Id</th>
            <th>Categorie</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.idcategoriy.nom }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.email }}</td>
                <td>{{ offre.title }}</td>
                <td>{{ offre.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}