{% extends 'base.html.twig' %}

{% block title %}Liste des evenement{% endblock %}

{% block content %}

<div class="main-panel">


   <h1>Liste Des Categories</h1>

    <form method="post" action="{{ path('recherchecat') }}">
        <input type="text"  placeholder="Recherche" name ="recherche">
        <input type="submit" value="recherche"  class="btn btn-primary" >

    </form>


    <table border="2" class="table table-striped">

        <tr>
            <th>Id</th>
            <th>Nom</th>

            <th>Modifier</th>
            <th>Supprimer</th>

        </tr>

        <tr {% for c in categorie %} >

            <td> {{ c.id }} </td>
            <td> {{ c.nom }} </td>

            <td ><a href="{{ path('modifiecat',{'id':c.id}) }}"  class="badge badge-danger">Modifier</a></td>
            <td ><a href="{{ path('supprimecat',{'id':c.id}) }}"  class="badge badge-danger">Supprimer</a></td>



        </tr {% endfor %} >
    </table>
    <a href="{{ path('ajoutcat') }}"><input type="button" value="Ajouter une categorie" class="btn btn-danger"></a>
</div>


{% endblock %}
