
{% extends 'header.html.twig' %}

{% block title %}
    Page Evenement
{% endblock %}

{% block content %}

    <div class="section db">
        <div class="container">
            <div class="page-title text-center">
                <div class="heading-holder">
                    <h1>Ajouter Evenement </h1>
                </div>

            </div>
        </div><!-- end container -->
    </div><!-- end section -->


    {{ form_start(form , {attr: {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        <LABEL>Nom De L'evenement*:</LABEL>
        {{ form_widget(form.nom, {'attr':{'class':'form-control' }})}}
        <div class="alert alert-warning" role="alert">
            {{form_errors(form.nom)}}
        </div>
    </div>

    <div class="form-group">

        <LABEL>Categorie De L'evenement*:</LABEL>

        {{ form_widget(form.idcat)}}
    </div>


    <div class="form-group">

        <LABEL>Date De L'evenement*:</LABEL>

        {{ form_widget(form.date)}}
    </div>

    <div class="form-group">

        <LABEL>Description De L'evenement*:</LABEL>

        {{ form_widget(form.description, {'attr':{'class':'form-control' }})}}
        <div class="alert alert-warning" role="alert">
            {{form_errors(form.description)}}
        </div>
    </div>

    <div class="form-group">

        <LABEL>Email de l'utilisateur*:</LABEL>

        {{ form_widget(form.email, {'attr':{'class':'form-control' }})}}
        <div class="alert alert-warning" role="alert">
            {{form_errors(form.email)}}
        </div>
    </div>
    <input type="submit" value="Ajouter Evenement" class="btn btn-danger">



    {{ form_end(form) }}
{% endblock %}